<div *ngIf="isLoading" class="loading-container">
  <mat-spinner diameter="50"></mat-spinner>
  <p class="loading-text">Loading gists...</p>
</div>

<div *ngIf="!isLoading && data.length > 0" class="grid-container">
  <app-grid-item *ngFor="let item of data" [gist]="item"></app-grid-item>
</div>

<div class="navigation" *ngIf="data.length > 0">
  <button (click)="prevPage()" [disabled]="!hasPrevPage">Previous</button>
  <button (click)="nextPage()" [disabled]="!hasNextPage">Next</button>
</div>
