.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  border: 2px solid rgba(227, 227, 227, 1);
  border-radius: 5px;
  background-color: rgba(248, 249, 250, 1);
  gap: 20px;
}

.loading-text {
  font-size: 16px;
  color: rgba(61, 61, 61, 1);
  font-weight: 500;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0px;
  gap: 8px;
}

.navigation button {
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.navigation button:disabled {
  color: rgba(183, 183, 183, 1);
  cursor: not-allowed;
}

.navigation button:not(:disabled) {
  color: rgba(0, 59, 68, 1);
}

.navigation button:not(:disabled):hover {
  color: rgba(0, 59, 68, 0.8);
}
